
<!-- Add utility classes and/or elements as needed to achieve the target appearance. -->

<div class="d-flex justify-content-around">
  <span class="bg-danger px-4 py-2">First</span>
  <span class="bg-danger px-4 py-2">Second</span>
  <span class="bg-danger px-4 py-2">Third</span>
</div>


<div>
  Other text here
</div>
